.component {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin: 10px 0;

  input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    height: 5em;
    resize: none;
  }

  button {
    cursor: pointer;
  }
}