#component {
  display: flex;
  flex-direction: column;
  .home a {
    color: blue;
  }

  .body {
    display: flex;
    gap: 0 5%;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    #list {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 1.5vh 0;
      @media (max-width: 768px) {
        width: 100%;
      }

      .search {
        display: flex;
        flex-direction: row-reverse;
        gap: 1vw;
        select {
          height: min-content;
          margin: auto auto 0 auto;
        }
      }

      #total {
        font-size: 1.2em;
        display: flex;
        justify-content: center;
      }

      #totalList {
        max-height: 600px;
        overflow: auto;
        padding: 0 .5vw;
        @media (max-width: 768px) {
          max-height: 50vh;
        }
      }::-webkit-scrollbar {
        width: 0px;
      }
    }
    
    #item {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
      details {
        summary {
          font-size: 1.1em;
          cursor: pointer;
          width: max-content;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}