.warning {
  display: flex;
  justify-content: center;
  background-color: #FF9800;
  color: white;
  padding: 5px;
  margin: 5px 0;
}
.warning::before {
  content: 'Something went wrong';
}

.deleted, .created {
  display: flex;
  justify-content: center;
  background-color: #36a936;
  color: white;
  padding: 5px;
  margin: 5px 0;
}
.deleted::before {
  content: 'Deleted successfully';
}

.created::before {
  content: 'Created successfully';
}